#services {
  min-height: 100vh;
}
.feature-box-01 {
  padding: 40px;
  overflow: hidden;
  z-index: 1;
  background: #0b0b13;
  transition: ease background 0.35s;
}
.feature-box-01 .icon {
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 40px;
  color: #fff;
  text-align: center;
}
.feature-box-01 .feature-content {
  padding-left: 25px;
}
.feature-box-01 h5 {
  margin-bottom: 15px;
  color: #fff;
}
.feature-box-01:hover {
  background: #2fbf71;
}

@media (max-width: 991px) {
  .feature-box-01 {
    padding: 20px;
  }
  .feature-box-01 .feature-content {
    padding-left: 15px;
  }
}
