.typing-item {
  list-style: none;
  height: 40px;
  line-height: 40px;
  position: relative;
  animation: slide 9s steps(3) infinite;
}

.typing-item span {
  position: relative;
}

.typing-item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #10101a;
  border-left: 2px solid #fc6d6d;
  animation: typing 3s steps(10) infinite;
}

@keyframes slide {
  100% {
    transform: translateY(-120px);
  }
}

@keyframes typing {
  100% {
    left: 100%;
  }
}